!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title Merch Admin

    link(href='/static/sb-admin/css/bootstrap.css', rel='stylesheet')

    link(href='/static/sb-admin/css/sb-admin.css', rel='stylesheet')
    link(href='/static/sb-admin/font-awesome/css/font-awesome.min.css', rel='stylesheet')

    link(href='http://cdn.oesmith.co.uk/morris-0.4.3.min.css', rel='stylesheet')
    body
        #wrapper(data-ng-app='ma.admin')

            nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')

                //Brand and toggle get grouped for better mobile display
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(ui-sref='index') Merch Admin

                //Collect the nav links, forms, and other content for toggling
                .collapse.navbar-collapse.navbar-ex1-collapse
                    ul.nav.navbar-nav.side-nav
                        li.active
                            a(ui-sref="dashboard")
                                i.icon-dashboard
                                |&nbsp;Dashboard
                        li
                            a(href='charts.html')
                                i.icon-bar-chart
                                |&nbsp;Charts
                        li
                            a(ui-sref='tables')
                                i.icon-table
                                |&nbsp;Tables
                        li
                            a(href='forms.html')
                                i.icon-edit
                                |&nbsp;Forms
                        li
                            a(href='typography.html')
                                i.icon-font
                                |&nbsp;Typography
                        li
                            a(href='bootstrap-elements.html')
                                i.icon-desktop
                                |&nbsp;Bootstrap Elements
                        li
                            a(href='bootstrap-grid.html')
                                i.icon-wrench
                                |&nbsp;Bootstrap Grid
                        li
                            a(href='blank-page.html')
                                i.icon-file-alt
                                |&nbsp;Blank Page
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                i.icon-collapse
                                |&nbsp;Dropdown
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href='#') Dropdown Item
                                li
                                    a(href='#') Another Item
                                li
                                    a(href='#') Third Item
                                li
                                    a(href='#') Last Item
                    ul.nav.navbar-nav.navbar-right.navbar-user
                        li.dropdown.messages-dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                i.icon-envelope
                                |&nbsp;Messages &nbsp;
                                span.badge 7
                                b.caret
                            ul.dropdown-menu
                                li.dropdown-header 7 New Messages
                                li.message-preview
                                    a(href='#')
                                        span.avatar
                                            img(src='http://placehold.it/50x50')
                                        span.name John Smith:
                                        span.message Hey there, I wanted to ask you something...
                                        span.time
                                            i.icon-time
                                            | 4:34 PM
                                li.divider
                                li.message-preview
                                    a(href='#')
                                        span.avatar
                                            img(src='http://placehold.it/50x50')
                                        span.name John Smith:
                                        span.message Hey there, I wanted to ask you something...
                                        span.time
                                            i.icon-time
                                            | 4:34 PM
                                li.divider
                                li.message-preview
                                    a(href='#')
                                        span.avatar
                                            img(src='http://placehold.it/50x50')
                                        span.name John Smith:
                                        span.message Hey there, I wanted to ask you something...
                                        span.time
                                            i.icon-time
                                            | 4:34 PM
                                li.divider
                                li
                                    a(href='#')
                                        | View Inbox
                                        span.badge 7
                        li.dropdown.alerts-dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                i.icon-bell-alt
                                |&nbsp;Alerts &nbsp;
                                span.badge 3
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href='#')
                                        | Default
                                        span.label.label-default Default
                                li
                                    a(href='#')
                                        | Primary
                                        span.label.label-primary Primary
                                li
                                    a(href='#')
                                        | Success
                                        span.label.label-success Success
                                li
                                    a(href='#')
                                        | Info
                                        span.label.label-info Info
                                li
                                    a(href='#')
                                        | Warning
                                        span.label.label-warning Warning
                                li
                                    a(href='#')
                                        | Danger
                                        span.label.label-danger Danger
                                li.divider
                                li
                                    a(href='#') View All
                        li.dropdown.user-dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                i.icon-user
                                |&nbsp;John Smith&nbsp;
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href='#')
                                        i.icon-user
                                        | Profile
                                li
                                    a(href='#')
                                        i.icon-envelope
                                        | Inbox
                                        span.badge 7
                                li
                                    a(href='#')
                                        i.icon-gear
                                        | Settings
                                li.divider
                                li
                                    a(href='#')
                                        i.icon-power-off
                                        | Log Out

            #page-wrapper
                .ui-view


        //Bootstrap core JavaScript
        script(src='/static/sb-admin/js/jquery.js')
        script(src='/static/sb-admin/js/bootstrap.js')

        script(src='//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js')
        script(src='http://cdn.oesmith.co.uk/morris-0.4.3.min.js')
        script(src='/static/sb-admin/js/morris/chart-data-morris.js')
        script(src='/static/sb-admin/js/tablesorter/jquery.tablesorter.js')
        script(src='/static/sb-admin/js/tablesorter/tables.js')

        script(src='/static/js/vendor/angular/angular.min.js')
        script(src='/static/js/vendor/angular/angular-resource.min.js')
        script(src='/static/js/vendor/angular/angular-cookies.min.js')
        script(src='/static/js/vendor/ui-router/angular-ui-router.js')

        script(src='/static/js/app/common/app.js')
        script(src='/static/js/app/common/services/auth.svc.js')

        script(src='/static/js/app/backend/app.js')
