body
  padding-top: 60px
  padding-bottom: 40px

.container
  padding: 40px

.top-menu
  margin-top: 70px
  margin-bottom: 50px

.category-item
  margin-bottom: 20px

.product-item
  margin-bottom: 20px
