.row
  .col-lg-5
    .panel
      .panel-heading Admin Menu
      .panel-body
        ul.list-group
          li.list-group-item.active Categories
          li.list-group-item Products
          li.list-group-item Orders
          li.list-group-item Users