!!! 5
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
  html.no-js.lt-ie9.lt-ie8
//if IE 8
  html.no-js.lt-ie9
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')

    title MerchApp
    meta(name='description', content='description')
    meta(name='keywords', content='keywords')

    link(rel='stylesheet', href='/static/css/bootstrap.min.css')
    link(rel='stylesheet', href='/static/css/admin-main.css')

  body(ng-app='MerchApp.Admin')
    nav(role='navigation').navbar.navbar-fixed-top.navbar-inverse
      .navbar-header
        button(type='button', data-toggle='collapse', data-target='.navbar-admin-collapse').navbar-toggle
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(href='#/').navbar-brand Merch Admin

      .collapse.navbar-collapse.navbar-admin-collapse
        ul.nav.navbar-nav
          li.active
            a(href='#/categories') Categories
          li
            a(href='#/products') Products
          li.dropdown
            a(href='#', data-toggle='dropdown').dropdown-toggle Orders
              b.caret
            ul.dropdown-menu
              li
                a(href='#/orders') New Orders
              li
                a(href='#/orders') Sent Orders
        ul.nav.navbar-nav.pull-right
          li.dropdown
            a(href='#', data-toggle='dropdown').dropdown-toggle CurrentUser.Name
              b.caret
            ul.dropdown-menu
              li
                a(href='#/logout') Sign out


    .container.ng-view


    // Scripts go here
    script(src='/static/js/vendor/modernizr.min.js')
    script(src='/static/js/vendor/jquery.min.js')
    script(src='/static/js/vendor/bootstrap.min.js')
    script(src='/static/js/vendor/angular/angular.min.js')
    script(src='/static/js/vendor/angular/angular-resource.min.js')
    script(src='/static/js/vendor/angular/angular-cookies.min.js')

    // App go here
    // Common
    script(src='/static/js/app/common/app.js')
    // Svc
    script(src='/static/js/app/common/services/products.svc.js')
    script(src='/static/js/app/common/services/auth.svc.js')
    // Dir
    // Ctrl
    script(src='/static/js/app/common/controllers/login.ctrl.js')

    // Backend
    script(src='/static/js/app/backend/app.js')
    // Dir
    // Ctrl


